<%- include("header") -%>

<div id="to-do">
	<div id="heading">
		<h1><small>The date is</small><%= listTitle %></h1>
	</div>
	<div id="notifications">
		<%= notifications %>
	</div>
	<div id="to-do__list">
		<% newListItems.forEach((element) => { %>
			<form action="/delete" method="post">
				<div class="to-do__list__item">
					<input type="checkbox" name="deleteTask" value="<%= element._id %>" onChange="this.form.submit()">
					<p><%= element.task %></p>
				</div>
			</form>
		<% }); %>
	</div>
	<form action="/" class="to-do__form" method="post">
		<input type="text" name="newTask" placeholder="Add a new task" autocomplete="off">
		<button type="submit" name="addTask">Add</button>
	</form>
</div>

<%- include("footer") -%>
